.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
    clear: both;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.Sequencer {
  width: 321px;
}

.display {
  text-align: right;
}

button {
  height: 40px;
  width: 84px;
  margin: 0 10px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background-color: #eeeeee;
}

.steps-wrapper {
  border-bottom: 1px solid  #cccccc;
  border-right: 1px solid #cccccc;
  display: inline-block;
}
.StepColumn {
  &:extend(cf all);
  float: left;
  width: 40px;

}
input[type="radio"] {
  -webkit-appearance: none;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #cccccc;
  display: block;
  height: 40px;
  margin: 0;
  outline: none;
  width: 40px;
  &:checked {
    background-color: #cd8181;
  }
}
.StepColumn.active input[type="radio"] {
  background-color: #e7e7e7;
  &:checked {
    background-color: #77b677;
  }
}

.transport {
  display: block;
  margin-top: 20px;
  text-align: center;
}
